.container-contact{
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-image: linear-gradient(to bottom, #e1d3ee, #f5fcff, #f5fcff, #f5fcff);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
