<div class="container-header" id="home">
  <div class="row">
    <div class="column">
      <div class="presentation column-content">
        <h3>Hola, soy</h3>
      </div>
      <div class="name column-content">
        <h1>César Centurión</h1>
      </div>
      <div class="jobtitle column-content">
        <h2>Desarrollador de Software</h2>
      </div>
      <div class="description column-content">
        <p>Soy un desarrollador con experiencia en la creación de soluciones.</p>
        <p>Me apasiona resolver problemas y colaborar en proyectos emocionantes. 🚀</p>
      </div>

      <div class="social-networks">
        <div class="icon-container">
          <a href="https://github.com/CesarCent17" target="_blank">
            <img src="../../../assets/svg/social_network/icons8-github (1).svg" alt="GITHUB">
          </a>
        </div>

        <div class="icon-container">
          <a href="https://www.linkedin.com/in/cesarcent/" target="_blank">
            <img src="../../../assets/svg/social_network/icons8-linkedin.svg" alt="LINKEDIN">
          </a>
        </div>
      </div>
      <div class="column-content">
        <button class="contact">
          Envíame un Mensaje
        </button>

        <button class="download-cv" (click)="descargarCV()">
          Descargar CV
        </button>
      </div>
    </div>

    <div class="column photo">
      <div class="card">
        <img src="../../../assets/jpg/photo-cent-1.jpg" alt="Imagen">
      </div>
    </div>
  </div>
</div>

