.name h1 {
  font-weight: 900;
  font-size: 4rem;
  color: #2f7de3;
}

.jobtitle h2 {
  font-weight: 900;
  font-size: 4rem;
}

.presentation h3{
  font-weight: 500;
  font-size: 2rem;
}

.container-header{
  // background-color: #f5fcff;
  // background-image: linear-gradient(to left, #f6edff, #f5fcff, #e1d3ee, #f5fcff);

  // background-image: linear-gradient(to bottom, #e1d3ee, #f5fcff, #f5fcff, #f5fcff);
  // ddcbee
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column-content{
  // margin-bottom: 0.6rem;
  .contact{
    margin-top: 1rem;
  }
}


.column.photo{
  padding-left: 8rem;
}

.card {
  width: 25rem;
  height: 25rem;
  border-radius: 3%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 80%;
  border-radius: 3%;
  object-fit: cover;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
  p {
    margin-bottom: 0.3rem;
  }
}

.contact {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  background-color: #2f7de3;
  background: linear-gradient(to left, #2f7de3, #0471ff, #001eff);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  // transition: background-color 0.3s, color 0.3s;
  transition: transform 0.2s, background 0.3s;
  box-shadow: 0 5px 25px #9aa6ff;
}

.contact:hover {
  background-color: #1f5bc0;
  color: #ffffff;
  transform: translateY(-2px);
  // background: linear-gradient(to bottom, #1f5bc0, #5395f7);
}
.download-cv{
  margin-left: 1rem;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #323d52;
  border-radius: 1.6rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  transition: transform 0.2s, background 0.3s;
  // box-shadow: 0 5px 25px #afafaf;
}

.download-cv:hover {
  transform: translateY(-2px);
  // background: linear-gradient(to left, #2f7de3, #0471ff, #001eff);
  // color: #ffffff;
}


@media (max-width: 480px) {

  .column {
    text-align: center;
    padding: 1rem;
  }

  .name h1 {
    font-size: 2.5rem;
  }

  .jobtitle h2 {
    font-size: 2.5rem;
  }

  .presentation h3 {
    font-size: 1.5rem;
  }

  .description p{
    font-size: 1.2rem;
  }

  .column.photo {
    padding: 0;
  }

  .card {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .card img {
    max-width: 100%;
  }

  .container-header{
    background-color: #e1d3ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 480px;
  };

  .download-cv{
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.social-networks
{
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  .icon-container img{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
}
