<div class="container-projects" id="projects">
  <div class="container-title">
    <div class="title-project">
      <h3>Proyectos</h3>
    </div>
  </div>

  <div class="section-projects">
    <div class="card">
      <div class="img-1"></div>
      <div class="card-title">
        <h4>Módulo de Administración de Usuarios</h4>
      </div>
      <div class="card-content">
        <p>Sistema de gestión de usuarios diseñado para ofrecer una experiencia de administración de usuarios eficiente y atractiva.</p>
      </div>
      <div class="technology-button">
        <button>Angular</button>
        <button>Typescript</button>
      </div>
    </div>

    <div class="card">
      <div class="img-2"></div>
      <div class="card-title">
        <h4>Web Api de Usuarios</h4>
      </div>
      <div class="card-content">
        <p>Endpoints para modulo de administracion de usuarios, cargo y departamentos.</p>
      </div>
      <div class="technology-button">
        <button>C# .Net Core</button>
        <button>SQL Server</button>
      </div>
    </div>

    <div class="card">
      <div class="img-3"></div>
      <div class="card-title">
        <h4>Aplicación de Escritorio con WPF</h4>
      </div>
      <div class="card-content">
        <p>Aplicación de escritorio con tecnología WPF (C# .NET) que integra la API oficial de Spotify.</p>
      </div>
      <div class="technology-button">
        <button>C# .Net Core</button>
        <button>WPF</button>
      </div>
    </div>
  </div>
</div>
