<div class="container-projects" id="projects">
  <div class="container-title">
    <div class="title-project">
      <h3>Proyectos</h3>
    </div>
  </div>

  <div class="section-projects">
    <div class="card">
      <div class="img"></div>
      <div class="card-title">
        <h4>Modulo de Administracion de Usuarios</h4>
      </div>
      <div class="card-content">
        <p>Crud de Usuarios</p>
      </div>
    </div>

    <div class="card">
    </div>

    <div class="card">
    </div>
  </div>
</div>
