<div class="container-skills" id="skills">

  <div class="row">
    <div class="title-skills">
      <h3>Habilidades</h3>
    </div>
  </div>

  <div class="row row-frontend row-skills">
    <div class="title">
      <p>Frontend</p>
    </div>

    <div class="frontend-content">
      <ul class="skills-list">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Angular</li>
      </ul>
    </div>
  </div>

  <div class="row row-backend row-skills">
    <div class="title">
      <p>Backend</p>
    </div>

    <div class="backend-content">
      <ul class="skills-list">
        <li>Python</li>
        <li>Django</li>
        <li>C#</li>
        <li>.Net Core</li>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>PHP</li>
        <li>Laravel</li>
        <li>MySQL</li>
        <li>MariaDB</li>
        <li>SQLite</li>
        <li>SQL Server</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
  </div>
</div>
