<div class="container-skills" id="skills">
  <div class="row">
    <div class="title-skills">
      <h3>Habilidades</h3>
    </div>
  </div>

  <div class="row row-frontend row-skills">
    <div class="title">
      <p>Frontend</p>
    </div>

    <div class="frontend-content">
      <ul class="skills-list">
        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/html-1.svg" alt="HTML5">
            <p>HTML5</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/css-3.svg" alt="HTML5">
            <p>CSS3</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/logo-javascript.svg" alt="HTML5">
            <p>JavaScript</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/typescript.svg" alt="HTML5">
            <p>TypeScript</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/angular-icon-1.svg" alt="HTML5">
            <p>Angular</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row row-backend row-skills">
    <div class="title">
      <p>Backend</p>
    </div>

    <div class="backend-content">
      <ul class="skills-list">
        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/python-5.svg" alt="HTML5">
            <p>Python</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/django.svg" alt="HTML5">
            <p>Django</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/c--4.svg" alt="HTML5">
            <p>C#</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/dot-net-core-7.svg" alt="HTML5">
            <p>.Net Core</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/java-4.svg" alt="HTML5">
            <p>Java</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/spring-3.svg" alt="HTML5">
            <p>Spring Boot</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/php-1.svg" alt="HTML5">
            <p>PHP</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/laravel-2.svg" alt="HTML5">
            <p>Laravel</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/mysql-logo.svg" alt="HTML5">
            <p>MySQL</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/mariadb.svg" alt="HTML5">
            <p>MariaDB</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/sqlite.svg" alt="HTML5">
            <p>SQLite</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/microsoft-sql-server-1.svg" alt="HTML5">
            <p>SQL Server</p>
          </div>
        </li>

        <li>
          <div class="icon-container">
            <img src="../../../assets/svg/technologies/postgresql.svg" alt="HTML5">
            <p>PostgreSQL</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
